.root{
    :global{
        display: flex;
        flex-direction: row;
        gap: 105px;

        .col1{
            margin-left: 126px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 920px;

            h1{
                font-family: 'Widock TRIAL';
                font-size: 48px;
                color: #fff;
                line-height: 56px;
            }
            p{
                font-family: 'Kreadon';
                font-size: 20px;
                color: #fff;
                line-height: 28px;
            }
        }
        .col2{
            img:nth-of-type(1){
                z-index: 1;
                position: absolute;
                margin-left: -32px;
                margin-top: -16px;
            }
            img:nth-of-type(3){
                z-index: 1;
                position: absolute;
                margin-top: 442px;
                margin-left: -113px;
            }
        }
    }
}

@media(max-width: 390px){
    .root{
        :global{
            width: 390px;
            padding: 30px;
            gap: 30px;
            flex-direction: column;

            .col1{
                margin-left: 0;
                width: 360px;
                margin: 0;
                gap: 20px;

                h1{
                    font-size: 36px;
                    line-height: 36px;
                }
                p{
                    width: 330px;
                    font-size: 20px;
                    letter-spacing: 1.3px;
                }
            }
            .col2{
                img:nth-of-type(1){
                    margin-left: 5px;
                }
                img:nth-of-type(2){
                    margin-left: 30px;
                    width: 80%;
                    height: 80%;
                }
                img:nth-of-type(3){
                    margin-top: 200px;
                }
            }
        }
    }
}