.root{
    :global{
        margin-top: 370px;
        margin-left: 164px;
        display: flex;
        flex-direction: row;
        gap: 113px;

        .col1{
            margin-top: 61px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            h1{
                font-family: 'Widock TRIAL';
                font-size: 48px;
                line-height: 56px;
                color: #fff;
            }
            p{
                width: 785px;
                font-family: 'Kreadon';
                font-size: 24px;
                line-height: 30px;
                color: #fff;
            }
        }
        .col2{
            img:nth-of-type(1){
                position: absolute;
                z-index: -1;
                margin-left: 110px;
                margin-top: -79px;
            }
            img:nth-of-type(3){
                position: absolute;
                z-index: 1;
                margin-top: 437px;
                margin-left: -551px;
            }
        }
    }
}

@media(max-width: 390px){
    .root{
        :global{
            width: 390px;
            margin: 0;
            margin-top: 250px;
            padding: 30px;
            flex-direction: column;
            gap: 50px;

            .col1{
                gap: 20px;

                h1{
                    font-size: 36px;
                    line-height: 40px;
                }
                p{
                    width: 340px;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 1.3px;
                }
            }
            .col2{
                img:nth-of-type(1){
                    width: 280px;
                    margin-left: 70px;
                    margin-top: -30px;
                }
                img:nth-of-type(2){
                    width: 90%;
                    margin-left: 20px;
                }
                img:nth-of-type(3){
                    width: 150px;
                    margin-left: -330px;
                    margin-top: 200px;
                }
            }
        }
    }
}