.root{
    :global{
        display: flex;
        height: 1173px;
        align-items: center;
        justify-content: center;

        p{
            font-family: 'Gerhaus';
            font-size: 40px;
            line-height: 50px;
            color: #fff;
            text-align: center;
        }
    }
}

@media(max-width: 390px){
    .root{
        :global{
            width: 390px;
            padding: 0;
            height: 500px;

            p{
                font-size: 30px;
                line-height: 30px;
                width: 300px;
            }
        }
    }
}